{% extends 'common_app/base.html' %}

{% load crispy_forms_filters %}
{% block body_block %}

    <div class="container">

        <div class="col-lg-8">
            <form method="POST">
                <h2>Password reset</h2>
                <p><em> Forgotten your password?
                    Enter your email address below, and we’ll email instructions for setting a new one.</em></p>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-secondary">Reset password</button>
                <br>
                <br>
                <span>Don`t have an account?<a style="color:red"
                                               href="{% url 'signup' %}">Sign up here</a></span>
                <br>
                <span>Forgot your password?<a style="color:red"
                                              href="{% url 'password_reset' %}">Reset password</a></span>

            </form>
        </div>


    </div>
{% endblock %}